body {
    background-color: #2a2a2c;
    color: #fff;
}


/** HOME - MORE INFO **/

.moreinfo{
    position: absolute;
    background: rgba(255,255,255,.8);
    z-index: 5;
    padding: 1em;
    font-size: 18px;
    font-size: 1.8rem;
    color: #2a2a2c;
    display:none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    border-radius: 10px 0 10px 0;
    text-align: left;
    min-width: 340px;
    top: 5em;
    left: -1em;
    cursor: default;
    line-height: 1.4;
}

.moreinfo::before{
    content: "";
    border: .5em solid rgba(0,0,0,0);
    border-bottom-color: rgba(255,255,255,.8);
    position: absolute;
    top: -1em;
    left: 2.3em;

}

.moreinfo span{
    display:block;
}

.moreinfo-fecha{
    background-color: #86d4e2;
    padding: .2em;
    line-height: 1;
    display: inline-block !important;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: .5em;
}

.sesion-voting:hover .moreinfo{
    display: block;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.header {
    color: #4f4f4f;
    background-color: #fff;
    border-top: 5px solid #86d4e2;
    padding: 0 3em .3em;
}

.page-header {
    margin-left: 2em;
    margin-right: 2em;
    margin: 0;
    border-bottom: none;
}

.page-header h1 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.3;

}

.nav-control{
    float: left;
    margin-right: 1em;
}

.goback{
    background: #86d4e2;
    border: 2px solid transparent;
    width: 2em;
    height: 2em;
    white-space: nowrap;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    text-indent: 100%;
    white-space:nowrap;
    overflow: hidden;
    position: relative;
}

.goback:hover{
    background: transparent;
    border: 2px solid #86d4e2;
    color: #86d4e2;
}

.goback::before{
    content: '';
    border: .5em solid transparent;
    border-right-color: #fff;
    position: absolute;
    left: 0em;
    top: .35em;
    text-indent: 0;
    display: block;
}

.goback:hover::before{
    border-right-color: #86d4e2;
}

.brand-header {
    color: #4f4f4f;
    padding-top: 1.8em;
}

.brand-header > a > img {
    height: 22px;
}
.content{
    padding: 3em 2em;
}

.title{
    width: calc(100% - 28rem);
    display: inline-block;
}

.content h1{
    color: #86d4e2;
    margin-top: 13px;
    font-size: 34px;

}


.subgrupo-titulo {
    color: #86d4e2;
    display: block;
    text-transform: uppercase;
    margin-top: -0.5em;
    font-size: 1.8rem;
}

.subgrupo-texto{
    font-size: 1.8rem;
}

.session-number,.content h1, .date{
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.session-number, .date{

    font-weight: bold;

}

.session-number{
    margin:1em 2em;
}


.session span::before{
    content: 's';
}
.vote span::before{
    content: 'v';
}

.session{
    color: #86d4e2;
    height: 2.1em;
    position: relative;
    font-size: 2em;
}


.vote{

    vertical-align: middle;
    margin-left: .1em;
    padding: 0 .3em;
    font-size: 2.4em;
    position: relative;
    margin-left: -.18em;
    -webkit-transform: skewX(-34deg);
    -moz-transform: skewX(-34deg);
    -ms-transform: skewX(-34deg);
    -o-transform: skewX(-34deg);
    transform: skewX(-34deg);
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: #2a2a2c;
    border-left: 2px solid #86d4e2;
    z-index: 2;
    overflow: hidden;
}

.vote span{
    -webkit-transform: skewX(34deg);
    -moz-transform: skewX(34deg);
    -ms-transform: skewX(34deg);
    -o-transform: skewX(34deg);
    transform: skewX(34deg);
    display: block;
    position: relative;
    top: .3em;
    left: -.38em;
}


.date{

    width: 4em;
    height: 4em;
    background: rgba(255,255,255,.2);
    text-align: center;
    font-size: 1.3em;
    position:absolute;
    color: #2a2a2c;
    top: 1em;
    right: .5em;
}


.date span{
    display: inline-block;
    margin-top: .85em;
}

.date span:first-child::after{
    content:'/';
}

.date span:last-child{
    display:block;
    color: #86d4e2;
    margin-top: 0;
    line-height: .7em;
}

.sesion-info {
    background: rgba(134,212,226, .5);
    padding: .5em 3em;
    margin:0;
    font-size: 1.4em;
    cursor:pointer;
}

.vote-text{
    text-transform: uppercase;
    font-size: .78em;
}

.vote-text::before{
    content: '·';
    padding: 0 .5em;

}

.sesions .sesions{
    position: relative;
}

.sesions .sesion-info::after{
    content: ' ';
    border: .4em solid transparent;
    border-left-color: rgba(255,255,255,.5);
    position: absolute;
    right: 1em;
    top: .9em;
}

.opened .sesion-info::after{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 1.1em;
}

.sesions + .votes{
    webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    max-height: 0;
    overflow: hidden;
}

.opened + .votes{
    max-height: 10000px;
    margin: 1.5em 0 3em;
    overflow: visible;
    padding-right: 15em;
}



.sesion-voting {
    font-size: 2em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    zoom: 1;
    *display: inline;
    border: 5px solid rgba(255,255,255,.28);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 2.5em;
    line-height: 2.3;
    text-align: center;
    width: 2.5em;
    margin: .5em .3em;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    cursor: pointer;

}

.sesion-voting:hover{
    background: rgba(255,255,255,.2);
    width: 2.8em;
    height: 2.8em;
    margin: 0 .15em;
    top: -.05em;
    line-height: 2.5;
}




.sesion-voting::before, .sesion-voting::after, .sesion-voting a::before, .sesion-voting a::after {
    content: '';
    border: 1.1em solid transparent;
    border-bottom-color: #86d4e2;
    position: absolute;
    border-radius: 50%;
    left: -2px;
    bottom: -2px;
    z-index: -1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sesion-voting::after{

    border: .9em solid transparent;
    border-bottom-color: #2a2a2c;
    left: 3px;
    bottom: 3px;

}

.sesion-voting a::before, .sesion-voting a::after {
    border: .8em solid transparent;
    border-bottom-color: #fff;
    -webkit-transform: rotate(-145deg);
    -moz-transform: rotate(-145deg);
    -ms-transform: rotate(-145deg);
    -o-transform: rotate(-145deg);
    transform: rotate(-145deg);
    right: 1px;
    top: -1px;
    width: 85%;
    height: 85%;
    left: auto;
    bottom: auto;
}

.sesion-voting a::after {
    border-bottom-color: #2a2a2c;
    right: 3px;
    top: 2px;
}


.sesion-voting a {
    color: #86d4e2;
    display: block;
}

.sesion-voting a:hover {
    text-decoration: none;
}
.textoexpediente {
    font-size: 1.3em;
    border: 1px solid  #e9e6f6;
    border-width: 1px 0;
    padding:  .8em 1em;
    margin-top: 1.5em;
}


.general-view{
    margin-left: 3em;
    text-transform: uppercase;
    color: #626262;
}

.general-view strong{
    display: block;
    font-size: 1.6em;
    color: #79d264;
    font-weight: normal;
    line-height: 1;
}

.result{
    position: relative;
}

.result::before{
    content: '';
    border-top: 1px solid rgba(255,255,255,.5);
    width: 60.5%;
    position: absolute;
    left: 28%;
    top: 50%;
}

.detail-view{
    width: 50%;
    text-align: center;
    margin-top: 90px;
}

.detail-view .box{
    width: 31%;
}

.detail-view svg{
    margin-left: -14.5%;
}

.detail-view p{
    display: inline-block;
    text-transform:uppercase;
    border-top: 1px solid #fff;
    padding: .5em .3em;
}


.detail-view strong{
    font-weight: normal;
    font-size: 1.2em;
    padding-right: .3em;
}

.afavor strong{
    color: #79d264;
}

.node circle[fill="green"], .presentes path[fill="green"], .total-value-afavor{
    fill: #79d264;
}

.encontra strong{
    color: #e03636
}

.node circle[fill="red"], .presentes path[fill="red"], .total-value-encontra{
    fill: #e03636;
}

.abstenciones strong{
    color: #86d4e2;
}

.node circle[fill="black"], .presentes path[fill="black"]{
    fill: #86d4e2;
}


.node circle[fill="white"]{
    fill: rgba(25,25,25,.5)
}


.presentes path[fill="green"], .presentes path[fill="red"], .presentes path[fill="black"]{
    opacity: .85;
}

.presentes path[fill="green"]{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /*stroke: #79d264;*/
}

.presentes path[fill="red"]{
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.presentes path[fill="black"]{
    -webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    -ms-transform: rotate(85deg);
    -o-transform: rotate(85deg);
    transform: rotate(85deg);
}

.asentimiento, .presentes, .novotan {

}

.right{
    float: right;
}

.total-title-afavor {
    font-size: 16px;
}

.total-value-afavor {
    font-size: 22px;
    font-weight: bolder;
}

.total-title-encontra {
    font-size: 16px;
}

.total-value-encontra {
    font-size: 22px;
    font-weight: bolder;
}
.opacity69 {
    opacity: 0.69;
    fill: rgba(255,255,255,.7);
}

.presentes path:nth-child(2){
    fill: rgba(0,0,0,.7);
}

.presentes path:nth-child(3){
    fill: rgba(255,255,255,.9);
    stroke: #2a2a2c;
    stroke-width: 6px;
}

.asentimiento-label{
    fill: #fff;
    font-size: 1.2em;

}

.footer{
    margin-top: 1.5em;
    margin-right: 3.2%;
}
.footer span{
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: bottom;
    padding-right: .5em;
}

.sharethis{
    padding-right:2em;
    padding-bottom:3em;
}